* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #EBF0F2;
  display: grid;
  grid-template-rows: 60px 1fr 120px;
  min-height: 100vh;
}
header {
  padding: 8px;
  text-align: center;
  box-shadow: 1px 1px 1px #BFAB9F;
}
main {
  display: grid;
  grid-template: 1fr 180px / repeat(6, 1fr);
}
.search {
  grid-area: 1/3/2/5;
  height: 40px;
  place-self: center;
  border-bottom: 2px solid #000;
}
.search input {
  border: none;
  outline: none;
  background: transparent;
  height: 40px;
  padding: 4px 12px;
  font-size: 18px;
  font-weight: 700;
}
.search input[type="text"] {
  width: 180px;
}
.current {
  background-color: hsla(100,50%,50%,1);
}
.details {
  background-color: hsla(100,50%,50%,.8);
  grid-area: 1/6/2/7;
}
.forecast {
  background-color: hsla(100,50%,50%,.6);
  grid-area: 2/1/-1/-1;
}
footer {
  background-color: #BFAB9F;
  display: grid;
  place-items: center;
}